:root {
    --hope-colors-blackAlpha1: #00000003;
    --hope-colors-blackAlpha2: #00000007;
    --hope-colors-blackAlpha3: #0000000c;
    --hope-colors-blackAlpha4: #00000012;
    --hope-colors-blackAlpha5: #00000017;
    --hope-colors-blackAlpha6: #0000001d;
    --hope-colors-blackAlpha7: #00000024;
    --hope-colors-blackAlpha8: #00000038;
    --hope-colors-blackAlpha9: #00000070;
    --hope-colors-blackAlpha10: #0000007a;
    --hope-colors-blackAlpha11: #00000090;
    --hope-colors-blackAlpha12: #000000e8;
    --hope-colors-whiteAlpha1: #ffffff00;
    --hope-colors-whiteAlpha2: #ffffff03;
    --hope-colors-whiteAlpha3: #ffffff09;
    --hope-colors-whiteAlpha4: #ffffff0e;
    --hope-colors-whiteAlpha5: #ffffff16;
    --hope-colors-whiteAlpha6: #ffffff20;
    --hope-colors-whiteAlpha7: #ffffff2d;
    --hope-colors-whiteAlpha8: #ffffff3f;
    --hope-colors-whiteAlpha9: #ffffff62;
    --hope-colors-whiteAlpha10: #ffffff72;
    --hope-colors-whiteAlpha11: #ffffff97;
    --hope-colors-whiteAlpha12: #ffffffeb;
    --hope-colors-primary1: #fafdfe;
    --hope-colors-primary2: #f2fcfd;
    --hope-colors-primary3: #e7f9fb;
    --hope-colors-primary4: #d8f3f6;
    --hope-colors-primary5: #c4eaef;
    --hope-colors-primary6: #aadee6;
    --hope-colors-primary7: #84cdda;
    --hope-colors-primary8: #3db9cf;
    --hope-colors-primary9: #05a2c2;
    --hope-colors-primary10: #0894b3;
    --hope-colors-primary11: #0c7792;
    --hope-colors-primary12: #04313c;
    --hope-colors-accent1: #fdfcfe;
    --hope-colors-accent2: #fbfaff;
    --hope-colors-accent3: #f5f2ff;
    --hope-colors-accent4: #ede9fe;
    --hope-colors-accent5: #e4defc;
    --hope-colors-accent6: #d7cff9;
    --hope-colors-accent7: #c4b8f3;
    --hope-colors-accent8: #aa99ec;
    --hope-colors-accent9: #6e56cf;
    --hope-colors-accent10: #644fc1;
    --hope-colors-accent11: #5746af;
    --hope-colors-accent12: #20134b;
    --hope-colors-neutral1: #fbfcfd;
    --hope-colors-neutral2: #f8f9fa;
    --hope-colors-neutral3: #f1f3f5;
    --hope-colors-neutral4: #eceef0;
    --hope-colors-neutral5: #e6e8eb;
    --hope-colors-neutral6: #dfe3e6;
    --hope-colors-neutral7: #d7dbdf;
    --hope-colors-neutral8: #c1c8cd;
    --hope-colors-neutral9: #889096;
    --hope-colors-neutral10: #7e868c;
    --hope-colors-neutral11: #687076;
    --hope-colors-neutral12: #11181c;
    --hope-colors-success1: #fbfefc;
    --hope-colors-success2: #f2fcf5;
    --hope-colors-success3: #e9f9ee;
    --hope-colors-success4: #ddf3e4;
    --hope-colors-success5: #ccebd7;
    --hope-colors-success6: #b4dfc4;
    --hope-colors-success7: #92ceac;
    --hope-colors-success8: #5bb98c;
    --hope-colors-success9: #30a46c;
    --hope-colors-success10: #299764;
    --hope-colors-success11: #18794e;
    --hope-colors-success12: #153226;
    --hope-colors-info1: #fbfdff;
    --hope-colors-info2: #f5faff;
    --hope-colors-info3: #edf6ff;
    --hope-colors-info4: #e1f0ff;
    --hope-colors-info5: #cee7fe;
    --hope-colors-info6: #b7d9f8;
    --hope-colors-info7: #96c7f2;
    --hope-colors-info8: #5eb0ef;
    --hope-colors-info9: #0091ff;
    --hope-colors-info10: #0081f1;
    --hope-colors-info11: #006adc;
    --hope-colors-info12: #00254d;
    --hope-colors-warning1: #fefdfb;
    --hope-colors-warning2: #fff9ed;
    --hope-colors-warning3: #fff4d5;
    --hope-colors-warning4: #ffecbc;
    --hope-colors-warning5: #ffe3a2;
    --hope-colors-warning6: #ffd386;
    --hope-colors-warning7: #f3ba63;
    --hope-colors-warning8: #ee9d2b;
    --hope-colors-warning9: #ffb224;
    --hope-colors-warning10: #ffa01c;
    --hope-colors-warning11: #ad5700;
    --hope-colors-warning12: #4e2009;
    --hope-colors-danger1: #fffcfc;
    --hope-colors-danger2: #fff8f8;
    --hope-colors-danger3: #ffefef;
    --hope-colors-danger4: #ffe5e5;
    --hope-colors-danger5: #fdd8d8;
    --hope-colors-danger6: #f9c6c6;
    --hope-colors-danger7: #f3aeaf;
    --hope-colors-danger8: #eb9091;
    --hope-colors-danger9: #e5484d;
    --hope-colors-danger10: #dc3d43;
    --hope-colors-danger11: #cd2b31;
    --hope-colors-danger12: #381316;
    --hope-colors-loContrast: white;
    --hope-colors-background: var(--hope-colors-loContrast);
    --hope-colors-focusRing: #96c7f2;
    --hope-colors-closeButtonHoverBackground: var(--hope-colors-blackAlpha4);
    --hope-colors-closeButtonActiveBackground: var(--hope-colors-blackAlpha5);
    --hope-colors-progressStripe: var(--hope-colors-whiteAlpha6);
    --hope-shadows-none: 0 0 #0000;
    --hope-shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --hope-shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.09), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --hope-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.09), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --hope-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.09), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --hope-shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.09), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --hope-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.24);
    --hope-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.06);
    --hope-shadows-outline: 0 0 0 3px var(--hope-colors-focusRing);
}

.hope-ui-dark {
    --hope-colors-primary1: #07191d;
    --hope-colors-primary2: #061e24;
    --hope-colors-primary3: #072830;
    --hope-colors-primary4: #07303b;
    --hope-colors-primary5: #073844;
    --hope-colors-primary6: #064150;
    --hope-colors-primary7: #045063;
    --hope-colors-primary8: #00647d;
    --hope-colors-primary9: #05a2c2;
    --hope-colors-primary10: #00b1cc;
    --hope-colors-primary11: #00c2d7;
    --hope-colors-primary12: #e1f8fa;
    --hope-colors-accent1: #17151f;
    --hope-colors-accent2: #1c172b;
    --hope-colors-accent3: #251e40;
    --hope-colors-accent4: #2c2250;
    --hope-colors-accent5: #32275f;
    --hope-colors-accent6: #392c72;
    --hope-colors-accent7: #443592;
    --hope-colors-accent8: #5842c3;
    --hope-colors-accent9: #6e56cf;
    --hope-colors-accent10: #7c66dc;
    --hope-colors-accent11: #9e8cfc;
    --hope-colors-accent12: #f1eefe;
    --hope-colors-neutral1: #151718;
    --hope-colors-neutral2: #1a1d1e;
    --hope-colors-neutral3: #202425;
    --hope-colors-neutral4: #26292b;
    --hope-colors-neutral5: #2b2f31;
    --hope-colors-neutral6: #313538;
    --hope-colors-neutral7: #3a3f42;
    --hope-colors-neutral8: #4c5155;
    --hope-colors-neutral9: #697177;
    --hope-colors-neutral10: #787f85;
    --hope-colors-neutral11: #9ba1a6;
    --hope-colors-neutral12: #ecedee;
    --hope-colors-success1: #0d1912;
    --hope-colors-success2: #0c1f17;
    --hope-colors-success3: #0f291e;
    --hope-colors-success4: #113123;
    --hope-colors-success5: #133929;
    --hope-colors-success6: #164430;
    --hope-colors-success7: #1b543a;
    --hope-colors-success8: #236e4a;
    --hope-colors-success9: #30a46c;
    --hope-colors-success10: #3cb179;
    --hope-colors-success11: #4cc38a;
    --hope-colors-success12: #e5fbeb;
    --hope-colors-info1: #0f1720;
    --hope-colors-info2: #0f1b2d;
    --hope-colors-info3: #10243e;
    --hope-colors-info4: #102a4c;
    --hope-colors-info5: #0f3058;
    --hope-colors-info6: #0d3868;
    --hope-colors-info7: #0a4481;
    --hope-colors-info8: #0954a5;
    --hope-colors-info9: #0091ff;
    --hope-colors-info10: #369eff;
    --hope-colors-info11: #52a9ff;
    --hope-colors-info12: #eaf6ff;
    --hope-colors-warning1: #1f1300;
    --hope-colors-warning2: #271700;
    --hope-colors-warning3: #341c00;
    --hope-colors-warning4: #3f2200;
    --hope-colors-warning5: #4a2900;
    --hope-colors-warning6: #573300;
    --hope-colors-warning7: #693f05;
    --hope-colors-warning8: #824e00;
    --hope-colors-warning9: #ffb224;
    --hope-colors-warning10: #ffcb47;
    --hope-colors-warning11: #f1a10d;
    --hope-colors-warning12: #fef3dd;
    --hope-colors-danger1: #1f1315;
    --hope-colors-danger2: #291415;
    --hope-colors-danger3: #3c181a;
    --hope-colors-danger4: #481a1d;
    --hope-colors-danger5: #541b1f;
    --hope-colors-danger6: #671e22;
    --hope-colors-danger7: #822025;
    --hope-colors-danger8: #aa2429;
    --hope-colors-danger9: #e5484d;
    --hope-colors-danger10: #f2555a;
    --hope-colors-danger11: #ff6369;
    --hope-colors-danger12: #feecee;
    --hope-colors-loContrast: var(--hope-colors-neutral1);
    --hope-colors-background: var(--hope-colors-loContrast);
    --hope-colors-focusRing: #0a4481;
    --hope-colors-closeButtonHoverBackground: var(--hope-colors-whiteAlpha4);
    --hope-colors-closeButtonActiveBackground: var(--hope-colors-whiteAlpha5);
    --hope-colors-progressStripe: var(--hope-colors-blackAlpha6);
    --hope-shadows-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
}