<div class="my_thread">
	<style type="text/css">
		.bangumi_container {
			display: flex;
			flex-wrap: wrap;
		}

		.bangumi_imgbox {
			flex: 1;
			padding: 0 10px;
		}

		.bangumi_content {
			flex: 3;
			padding: 0 10px;
		}

		.bangumi_img {
			display: block !important;
			margin: 0 auto;
			width: 200px;
			border-radius: 10px;
		}

		.bangumi_info {
			margin: 0 auto !important;
			margin-top: 10px !important;
			width: 200px;
			list-style-type: none;
			padding-inline-start: 0px !important;
			line-height: 24px !important;
			color: var(--hope-colors-neutral12) !important;
		}

		.bangumi_tip {
			color: var(--hope-colors-neutral11);
		}

		.bangumi_char_img {
			width: 48px;
			/* height: 48px; */
			object-fit: cover;
			border-radius: 10px;
			margin: 3px
		}

		.bangumi_tag_section {
			margin-top: 10px;
		}

		.bangumi_tag {
			display: inline-block;
			padding: 0 7px;
			margin-bottom: 4px;
			height: 28px;
			border-radius: 7px;
			font-size: 14px;
			line-height: 28px;
			color: var(--hope-colors-neutral11);
			background-color: var(--hope-colors-neutral3);
		}

		.hope-ui-dark .bangumi_tag {
			background-color: var(--hope-colors-neutral2);
		}

		@media (max-width: 600px) {
			.bangumi_info {
				flex-basis: 100%;
			}

			.bangumi_imgbox {
				flex-basis: 100%;
			}
		}
	</style>
	<div class="my_source">
		<!-- 来源 -->
		<a href="{{ thread.data.THREAD_URL }}" target="_blank" rel="noopener noreferrer" class="my_nameBox my_a">
			<img src="{{ thread.data.SOURCE_IMG }}" height="44px" title="{{ thread.data.SOURCE_NAME }}">
		</a>
	</div>
	<!-- MainPost -->
	<div class="my_post bangumi_container">
		<div class="bangumi_imgbox">
			<!-- 番剧图片 -->
			<img src="{{ thread.data.MainPost.BANGUMI_IMG }}" class="bangumi_img"
				title="{{ thread.data.MainPost.BANGUMI_NAME }}">
			<!-- 番剧信息 -->
			<ul class="bangumi_info">
				<li><span class="bangumi_tip">中文名: </span>{{ thread.data.MainPost.BANGUMI_CHINESE }}</li>
				<li><span class="bangumi_tip">话数: </span>{{ thread.data.MainPost.BANGUMI_EPISODE }}</li>
				<li><span class="bangumi_tip">放送开始: </span>{{ thread.data.MainPost.BANGUMI_DATE }}</li>
				<li><span class="bangumi_tip">放送星期: </span>{{ thread.data.MainPost.BANGUMI_WEEKDAY }}</li>
				<li><span class="bangumi_tip">评分: </span>{{ thread.data.MainPost.BANGUMI_SCORE }}</li>
			</ul>
		</div>
		<div class="bangumi_content">
			<!-- 番剧标题链接，点击跳转至小窝  -->
			<a href="https://sakiko.top/#/list?search={{ thread.data.MainPost.BANGUMI_NAME }}" target="_blank"
				rel="noopener noreferrer" class="my_nameBox my_a">
				<h2>{{ thread.data.MainPost.BANGUMI_NAME }}</h2>
			</a>
			<!-- 番剧介绍内容 -->
			<div class="my_content">
				<div class="my_p">
					{{ thread.data.MainPost.BANGUMI_CONTENT }}
				</div>
				<div>
					<!-- 角色图片 -->
					<!-- PostImgs -->
					{% for PostImg in thread.data.MainPost.PostImgs %}
					<img src="{{ PostImg.BANGUMI_CHAR_IMG }}" class="bangumi_char_img">
					{% endfor %}
				</div>
				<!-- 番剧标签 -->
				<div class="bangumi_tag_section">
					{% for tag in thread.data.MainPost.BANGUMI_TAG_LIST %}
					<span class="bangumi_tag">{{ tag }}</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<button id="{{ thread.data.TOGGLE_ID }}_toggleButton" class="my_button">吐槽 显示/隐藏</button>
	<div id="{{ thread.data.TOGGLE_ID }}_targetElement" class="my_comments" style="display: none;">
		<!-- RePosts -->
		{% for RePost in thread.data.RePosts %}
		<div class="my_post">
			<div>
				<a href="{{ RePost.POST_USER_URL }}" target="_blank" rel="noopener noreferrer" class="my_nameBox my_a">
					<img src="{{ RePost.POST_USER_IMG }}" class="my_avatar" title="{{ RePost.POST_USER_NAME }}">
					<span class="my_name">{{ RePost.POST_USER_NAME }}</span>
				</a>
			</div>
			<div class="my_content">
				<div class="my_p">
					{{ RePost.POST_CONTENT_P }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<script>
		document.getElementById("{{ thread.data.TOGGLE_ID }}_toggleButton").addEventListener("click", function () {
			document.getElementById("{{ thread.data.TOGGLE_ID }}_targetElement").style.display =
				document.getElementById("{{ thread.data.TOGGLE_ID }}_targetElement").style.display ===
					"none" ? "block" : "none";
		});
	</script>
</div>